.header{
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headerContainer{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}
.headerList{
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        list-style: none;
        li{
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}
.headerIcns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
// @media only screen and (max-width: 600px) {
//     .headerList {
        
//     }
//   }